<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  <title>球球的五十道陽光</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <![endif]-->



</head>
<body>




<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://ball.oukalatte.tw" id = "logo">球球的五十道陽光
      </a>
    </div>
    <div class="navbar-collapse collapse navbar-right scroll-me">
      <ul class="nav navbar-nav ">
        <li><a href="#home">首頁</a></li>
        <li><a href="https://www.facebook.com/lavigneismylove" target="_blank">Facebook</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLTdOVpnuR_Ip89dNeI5b0ts2pQHt8GNLu" target="_blank">Youtube頻道</a></li>
        <li><a href="#contact">聯絡我</a></li>
      </ul>
    </div>

  </div>
</div>
<!-- NAVBAR CODE END -->
<div id="home" data-sr='wait 1s then ease-in 5%'>
  <div class="overlay">
    <!-- overylay class usage -->
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">

        <h1>  </h1>
        <h1>  </h1>
        <h1>  </h1>
        <h2  data-sr='wait 1.8s then ease-in 50%'>Hi , 我是球球。</h2>
        <p class="p-cls" data-sr='wait 2.8s then ease-in 50%'>
          我住在陳家，掌握了這裡的一切人力與資源，喜歡你丟我撿（但我也不會輕易給你東西丟）、在家裡趴趴走和翻找衛生紙等休閒活動，這是我的專頁，你可以在這邊找到關於我的資訊。
        </p>
      </div>

    </div>
  </div>

</div>
<!--HOME SECTION END  -->
<section id="services">
  <div class="container" >
    <div class="row text-center pad-bottom">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <h2 class="head-set">我的員工們</h2>
        <p>
          這些人致力於照顧我，我能感受到他們的愛，但他們有時候會對我做些難以想像的事情！
        </p>
      </div>
    </div>
    <div class="row text-center">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= image_tag "em2.png", width: "100%" %>
        <h4 class="head-set">榮譽董事</h4>
        <p>
          幫我把椅子坐熱，好讓我睡得舒服！另外偶爾幫我「調配」好吃的餐點。
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= image_tag "em1.png", width: "100%" %>
        <h4 class="head-set">專屬美容師</h4>
        <p>
          每天幫我抓抓、按摩，還會幫我剃毛、修指甲，都不用上美容院了呢！
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= image_tag "em3.png", width: "100%" %>
        <h4 class="head-set">體能教練</h4>
        <p>
          每天幫我練身體、練膽量，但有時候我好害怕...
        </p>
      </div>
    </div>
    <div class="row text-center">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= image_tag "em6.png", width: "100%" %>
        <h4 class="head-set">歡樂瑪利亞</h4>
        <p>
          幫我洗香香、幫我做新衣，耶～
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= image_tag "em5.png", width: "100%" %>
        <h4 class="head-set">餅乾秘書</h4>
        <p>
          幫我處理大小事，並隨時準備足夠的餅乾（有時我懷疑她偷吃我的餅乾）
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= image_tag "em4.png", width: "100%" %>
        <h4 class="head-set">心理諮商師</h4>
        <p>
          快幫我呼呼～
        </p>
      </div>
    </div>
    <div class="row text-center">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= image_tag "em7.png", width: "100%" %>
        <h4 class="head-set">奴隸</h4>
        <p>
          我要玩什麼遊戲他就得陪我玩。
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12"
      </div>
    </div>
  </div>
</section>


<!--SERVICES SECTION END  -->
<section>
<div class="parallax-like">
  <div class="overlay">


    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div>
            <strong>5000+</strong>
            <p>
              二樓施肥
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div>
            <strong>2000+</strong>
            <p>
              垃圾車警戒
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 ">
          <div>
            <strong>1000+</strong>
            <p>
              衛生紙消滅
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
<!--PARALLAX LIKE / STATS SECTION END  -->
<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <h2 class="head-set">生活的點點滴滴...</h2>
        <p>
          你可以在我的 Flickr 看到我上傳的相片，歡迎跟我分享你的想法。
        </p>
      </div>
    </div>
    <div class="row text-center portfolio-item">

      <div class="col-md-4 col-sm-4 ">
        <div class="alert alert-info">
          <%= image_tag "homepic.jpg", width: "100%" %>
          <h3>居家生活</h3>
          <h5><a href="https://www.flickr.com/photos/mirashita/sets/72157651367812969/" target="_blank">看看我在家裡都做些什麼～</a></h5>
          <h5> </h5>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 ">
        <div class="alert alert-danger">
          <%= image_tag "goout.jpg", width: "100%" %>
          <h3>外出散步</h3>
          <h5><a href="https://www.flickr.com/photos/mirashita/sets/72157651376681598/" target="_blank">我最喜歡在下午出門走走</h5>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 ">
        <div class="alert alert-success">
          <%= image_tag "goout2.jpg", width: "100%" %>
          <h3>員工旅遊</h3>
          <h5><a href="##">偶爾也要帶大家出去玩呢！</h5>
        </div>
      </div>

    </div>
  </div>
</section>


<section>
<!--WORKS / PORTFOLIO SECTION END  -->
  <a href="https://www.youtube.com/playlist?list=PLTdOVpnuR_Ip89dNeI5b0ts2pQHt8GNLu" target="_blank">
<div id="video-sec" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=6s11yM3KvUQ',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1, quality:'medium', mute: true,showControls:false}">
  <div class="overlay">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1>訂閱Youtube頻道</h1>
          <h4>我有許多充滿<strong>溫馨、可愛、快樂</strong>的影片呢！
        </div>
      </div>
    </div>
  </div>
</div>
</a>
</section>

<!-- VIDEO SECTION END
<section id = "clients">
  <div class="container">
    <div class="row text-center ">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <h2 class="head-set">聯絡我</h2>
        <p>
          本球可是很忙碌的。<br>
          有什麼事請直接找我秘書吧！
        </p>
        <br />
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <h3><strong>Email :</strong> <a href="mailto:tingstravel25@gmail.com">tingstravel25@gmail.com</h3>
      </div>
    </div>
  </div>
</section>
<!-- CONTACT SECTION END-->

<footer>
  © 2015 <a href="http://ball.oukalatte.tw/" target="_blank">ball.oukalatte.tw</a>  | by 球球
</footer>

<script type="text/javascript">
  window.sr= new scrollReveal();
</script>

</body>

</html>
